html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
  background-color: #fff;
  font-family: 'Karla', sans-serif;
  letter-spacing: 0.09em;
  color: #7a7a7a;
}



/* Footer */
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
  background-color: #383a3a;
  text-align: center;
}
#footer h1 {
  color: #eee;
}
#footer ul {
  padding-top: 40px;
  padding-left: 0px;
}
#footer ul li {
  display: inline;
  padding: 10px;
}
@media (max-width: 400px) {
  #footer ul li {
    display: inline;
    padding: 7px;
  }
}



/* Header and Nav Bar */
#header {
  background-color: #f7f7f7;
}
@media (min-width: 500px) {
  .navbar {
    margin-right: 10%;
    margin-left: 10%;
  }
}
#header ul {
  font-size: 80%;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.navbar-brand,
.navbar-nav li a {
  line-height: 80px;
  height: 80px;
  padding-top: 0;
}
.nav-item {
  color: #7d7d7d;
}
.nav-item:hover {
  color: #9f9f9f;
}
.nav-active-page {
  color: #4c4c4c;
  font-weight: bold;
}
.navbar-brand {
  display: inline;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.3em;
  font-size: 110%;
  text-transform: uppercase;
  color: #4c4c4c;
}
@media (max-width: 550px) {
    .navbar-brand-text-long {
        display: none;
    }
}
@media (min-width: 550px) {
    .navbar-brand-text-short {
        display: none;
    }
}



/* Carousel */
.carousel-inner{
  width:100%;
  max-height: 550px !important;
}
/* Carousel Image */
.carousel:hover .carousel-inner > .carousel-item > img {
  transition: .7s ease;
  filter: brightness(75%);
}
.carousel > .carousel-inner > .carousel-item > img {
  transition: .7s ease;
  filter: brightness(100%);
}

/* Carousel Caption */
.carousel-caption {
    visibility: hidden;
    opacity: 0;
    transition: opacity .7s, visibility .7s;
    bottom: 0;
  }
@media (max-width: 1200px) {
  .carousel-caption {
    transform: translateY(-60%);
    top: 60%;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .carousel-caption {
    transform: translateY(-56%);
    top: 56%;
  }
}
@media (min-width: 1400px) and (max-width: 1600px) {
  .carousel-caption {
    transform: translateY(-52%);
    top: 52%;
  }
}
@media (min-width: 1600px) and (max-width: 1800px) {
  .carousel-caption {
    transform: translateY(-48%);
    top: 48%;
  }
}
@media (min-width: 1800px) and (max-width: 2000px) {
  .carousel-caption {
    transform: translateY(-44%);
    top: 44%;
  }
}
@media (min-width: 2000px) {
  .carousel-caption {
    transform: translateY(-40%);
    top: 40%;
  }
}
.carousel:hover .carousel-inner > .carousel-item > .carousel-caption {
  visibility: visible;
  opacity: 1;
  transition: opacity .7s, visibility .7s;
}
.carousel > .carousel-inner > .carousel-item > .carousel-caption > h5 {
  font-size: 5.5vw;
}



/* Homepage summary */
.row {
  width: 100%;
}
.summary {
    padding-top: 50px;
    padding-bottom: 20px;
    align-self: center;
    vertical-align: middle;
}
.summary-captions {
  font-size: 100%;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
}
@media (max-width: 900px) {
  .summary {
    width: 100%;
    margin: 0px 0px 0px 0px;
  }
  .fa-stack {
    font-size: 40px;
  }
  .summary-captions {
    font-size: 90%;
  }
}
@media (min-width: 900px) {
  .summary {
    width: 60%;
    margin: auto;
  }
}
@media (max-width: 775px) {
  .carousel-caption {
    transform: translateY(-40%);
    top: 40%;
  }
}


/* About Met */
.about {
  padding-top: 60px;
  padding-bottom: 40px;
}
.about .img-fluid {
  border-radius: 50%;
  width: 275px;
}
.about h8 {
  font-size: 15px;
}



/* Icons */
.navbar-brand .fa-tree {
    color: #4c4c4c;
}
.fa-circle {
  color: #4c4c4c;
}
.fab {
  color: white;
}
.fa-github:hover {
  color: #DBB8FF;
}
.fa-linkedin:hover {
  color: #B8E3FF;
}
.fa-instagram:hover {
  color: #FFFBB8;
}
.fa-pinterest:hover {
  color: #FFB8B8;
}
.fa-spotify:hover {
  color: #B8FFC6;
}


/* If screen is big enough, add margin */
@media (min-width: 500px) {
  .navbar {
    margin-right: 10%;
    margin-left: 10%;
  }
}


.container .text-muted {
}
 